.App {
  text-align: center;
}

.Navbar header{
  background: none;
}
.Navbar a{
  text-decoration: none;
  margin: 0px 40px;
  color: rgba(255, 0, 0, 0.986);
}

.backgroundImg{
  background-image: url("https://c4.wallpaperflare.com/wallpaper/744/804/845/computer-engineering-science-tech-wallpaper-preview.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0
}

